<%= render 'layouts/navbar' %>

<div class="box_container">
    <div>
        <h2>Thank you!</h2>
    </div>

        <h4> Please wait until our admin activate your brand </h4>
    <div class="actions">
    <%= button_to "Back to Home", root_path, method: :get %>
    </div>
</div>

<%= render 'layouts/footer' %>
