<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
<a class="navbar-brand" id="brand_name" href="/">CLOTHOLOGY</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">FASHION</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FOOTWARE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">DROPS</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">COLLABORATION</a>
    </li>
  </ul>

</nav>